<h1>Congratulations <%= @user.first_name %>,</h1>

<p>You just visited the most greatest and best site in the world!</p>
<p>Actually, this isn't the greatest and best site in the world,<br>
this is just a tribute.</p>

<p>You can login with your email:</p>
<p><%= @user.email %></p>
