<nav>
<div class="wrapper">
  <!-- <div class="container"> -->
    <ul class="menu" rel="sam1">
      <li class="item"><%= link_to "Home", home_path %></li>
      <li class="item"><%= link_to "Posts", posts_path %></li>
      <li class="item"><%= link_to "About Me", about_path %></li>
      <li class="item"><%= link_to "Gallery", gallery_path %></li> 
    </ul>
  <!-- </div> -->
</div>
</nav>